body{
	background: lightblue;
	color: white;
}
.mainHeading {
	font-size: 48px;
	color: white;
	margin: 2% 0 2% 5%;
	text-decoration: underline;
}
.col-md-6 {
	height: 300px;
	border: 2px solid white;
	border-radius: 4px;
	margin: 0 0 2% 0;
}
.jeremyImg{
	height: 100%;
	display: block;
	margin: auto;
}
.mediaHeading{
	color: white;
	text-decoration: underline;
	text-align: center;
	margin: 0 0 2% 0;
}

ul{
	list-style-type: none;
}
.socialLinks {
	display: inline;
	margin: 0 0 0 15%;
}
.copyright{
	text-align: center;
	color: white;
	margin: 2% 0 0 0;
}